.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.BuildControl button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  cursor: pointer;
  outline: none;
}

.BuildControl button:disabled {
  background-color: #ac9980;
  border: 1px solid #7e7365;
  color: #ccc;
  cursor: default;
}

.BuildControl button:hover:disabled {
  background-color: #ac9980;
  color: #ccc;
  cursor: not-allowed;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
}

.BuildControl .Less {
  background-color: #eb0000;
  border: 1px solid #eb0000;
  color: white;
}

.BuildControl .More {
  background-color: #5c9210;
  border: 1px solid #5c9210;
  color: white;
}

.BuildControl .Less:hover,
.BuildControl .Less:active {
  background-color: #8b0000;
  color: white;
}

.BuildControl .More:hover,
.BuildControl .More:active {
  background-color: #274200;
  color: white;
}
